* {
  padding: 0px;
  margin: 0px;
}

.header {
  background-image: url("1.jpg");
  height: 100px;
  width: 100%;
}

.header h2 {
  text-align: center;
  font-size: 40px;
  padding: 20px;
  color: red;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}
h2 :hover {
  color: blue;
  text-decoration: underline;
}
.header img {
  height: 70px;
  width: 70px;
  position: relative;
  bottom: 80px;
  left: 20px;
}
.nav {
  background-color: #330000;
  text-align: center;
  height: 50px;
  width: 100%;
  padding-top: 22px;
  font-weight: bold;
}
.nav ul li {
  display: inline;
  padding-top: 10px;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
}
.nav ul li a {
  list-style: none;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.nav ul li a:hover {
  color: red;
}
.main {
  /* padding-left:70px; */
  margin: 0 0px;
  background-color: black;
  width: 100%;
  display: flex;
  height: 500px;
}
.masood {
  width: 400px;
  height: 300px;
  margin: 1px;
  border: 2px solid;
}
.noor {
  width: 400px;
  height: 300px;
  margin: 1px;
}

.obaid {
  width: 400px;
  height: 300px;
  margin: 1px;
}
.kamran {
  width: 400px;
  height: 300px;
  margin: 1px;
}
/*=======================================================================*/
.about-img {
  position: absolute;
  transition: all 2s ease;
  opacity: 0.9;
}
.about-img:hover {
  outline: 10px solid white;
  outline-offset: 32px;
  transform: scale(1.3) rotate(20deg);
  z-index: 30px;
  opacity: 1;
}
.about-images:hover,
.about-img:not(:hover) {
  opacity: 0.5;
}
.img {
  margin: 10px;
  border: 1px solid white;
  border-radius: 10px;
}
/*================ footer===================================*/
.parent {
  background-color: #ddd6d7;
  width: 100%;
  display: flex;
}
.left {
  width: 700px;
  padding-top: 30px;
  margin-left: 50px;
}
.right {
  width: 700px;
  padding-top: 40px;
  text-align: center;
}

@media only screen and (min-width: 540px) {
	.masood {
		width: 400px;
		height: 300px;
		margin: 1px;
		border: 2px solid;
	    padding: 0px !important;
	  }

  }